@font-face {
  font-family: NotoSerifRegular;
  src: url("./font/NotoSerifRegular.ttf");
}
@font-face {
  font-family: NotoSerifBold;
  src: url("./font/NotoSerifBold.ttf");
}
@font-face {
  font-family: VNFOCO;
  src: url("./font/VNFOCO.OTF");
}
@font-face {
  font-family: VNFOCOBOLD;
  src: url("./font/VNFOCOBOLD.OTF");
}
@font-face {
  font-family: SVNGilroyHeavy;
  src: url("./font/SVNGilroyHeavy.ttf");
}
